<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">Welcome {{request.user.full_name}}
    {% if request.user.is_superuser %}
      (Admin)
    {% endif %}
    </a>
    {% if not request.user.is_superuser %}
    <a class="navbar-brand" href="#">Wallet balance: {{request.user.account_balance}} {{request.user.base_currency}}</a>
    {% endif %}

    <a class="btn btn-sm btn-primary ml-4" type="button" href="{% url 'logout' %}">Logout</a>

  </div>
</nav>